<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">



<body>
  <!-- Top nav bar (fixed) -->
  <nav>
    <span class="nav-quizapp-brand">QuizApp</span>
  </nav>

  <!-- Main content -->
  <div class ="content">
    <section class="slogan">
      <h1>Create, Challenge, Share.</h1>
      <h3>The easiest way to make quizzes for free.</h3>
    </section>

    <section class="new-quiz">
      <h2>Start a new Quiz!</h2>

    <!-- NOT SURE WHAT THE ACTION SHOULD BE HERE -->
    <form class="new-quiz-form" action="/" method="POST">

      <textarea name="quiz-title" id="quiz-title" required placeholder="Enter your Quiz Title"></textarea>

    <!-- Quiz Privacy (Select Dropdown) -->
    <select name="quiz-privacy" id="quiz-privacy" required aria-label="Quiz Privacy">
      <option value="" disabled selected>Quiz Privacy</option>
      <option value="public">Public</option>
      <option value="private">Private</option>
    </select>

    <button type="submit" id="new-quiz-button">Create new quiz</button>
    </section>

    </form>


  </div>





  <!-- Footer (fixed) -->
  <footer class="footer">
    <p>© 2025 This app is a Midterm project for the Web Development Flex Program at Lighthouse Labs.</p>
  </footer>



</body>

</html>
