<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <!-- Top nav bar (fixed) -->
  <nav>
    <span class="nav-quizapp-brand">QuizApp</span>
  </nav>


  <h1>Have fun! 🥔</h1>



  <!-- Footer (fixed) -->
  <footer class="footer">
    <div class="footer-container">
      <p>© 2025 This app is a Midterm project for the Webdevelopment Flex Program at Lighthouse Labs.</p>
    </div>
  </footer>



</body>

</html>
