<!DOCTYPE html>
<html lang="en">
<head>
  <!-- ADD THE QUIZ TITLE HERE -->
  <title>Quiz</title>
  <!-- Given code -->
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
   <!-- Given code -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />


  <!-- Link CSS Files -->
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/navbar_footer.css" />
  <link rel="stylesheet" href="/styles/quiz.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<!-- Google Fonts ('Nunito', sans-serif;)-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">



<body>
  <!-- Top nav bar (fixed) -->
  <%- include('partials/_header.ejs') %>



  <!-- Main content -->
  <div class="unique-quiz-main">
    <section class="unique-quiz-title">
    <!-- quizTitle and quizPrivacy values will come from the -->
    <!-- POST request that handles the form submission-->
    <h1>Quiz Title: add embeded quizTitle here </h1>
    <p>Privacy: add embeded quizPrivacy here </p>
    </section>

    <!-- Form to add questions -->
    <h2>Add a Question</h2>

    <!-- Form to add questions -->
    <!-- NOT SURE ABOUT THE ACTION HERE-->
    <form class="questions-form" action="/create:id" method="POST">

      <textarea name="question" id="question" required placeholder="Enter your question"></textarea>

      <div class="label-for-answers">
      <p>Correct answer</p>
      </div>

      <div class="answer-group">
        <input type="text" name="answer1" id="answer1" required placeholder="Enter answer 1" />
        <input type="radio" name="correct-answer" value="answer1" class="answer-radio" />
      </div>

      <div class="answer-group">
        <input type="text" name="answer2" id="answer2" required placeholder="Enter answer 2" />
        <input type="radio" name="correct-answer" value="answer2" class="answer-radio" /> <!-- radio buttons having the same name is what makes the user to be able select only 1 option -->
      </div>

      <div class="answer-group">
        <input type="text" name="answer3" id="answer3" required placeholder="Enter answer 3" />
        <input type="radio" name="correct-answer" value="answer3" class="answer-radio" />
      </div>

      <div class="answer-group">
      <input type="text" name="answer4" id="answer4" required placeholder="Enter answer 4" />
      <input type="radio" name="correct-answer" value="answer4" class="answer-radio" />
      </div>



      <button id="add-question" type="submit">Add Question</button>
    </form>

      <button id="generate-quiz" type="submit">Generate Quiz</button>




  </div>




  <!-- Footer (fixed) -->
  <%- include('partials/_footer.ejs') %>


</body>
</html>
