
.slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  margin: 20px;

}
.slogan h1, h2 {
  margin: 0.2em;
}

.new-quiz {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.new-quiz-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 30vw;

}

#quiz-title {
  padding: 0.5em;
  margin: 0.5em;
  height: 40px;
}

#quiz-privacy {
  padding: 0.5em;
  margin: 0.5em;
  height: 40px;

}

.public-quizzes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 30vw;
  height: 200px;
  margin-top: 100px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}




#all-public-quizzes-btn {
  display: inline-block;
  padding: 10px 15px;
  background: var(--tertiary-bg-color);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
}

#all-public-quizzes-btn:hover {
  background: #0056b3;
}


