
.slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin: 20px;

}
.slogan h1, h2 {
  margin: 0.2em;
}

.new-quiz {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.new-quiz-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 30vw;

}

#quiz-title {
  padding: 0.5em;
  margin: 0.5em;
  height: 40px;
}

#quiz-privacy {
  padding: 0.5em;
  margin: 0.5em;
  height: 40px;

}

.public-quizzes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50vw;
  height: 400px;
}

.public-quizzes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}


#all-public-quizzes-btn:active {
  transform: scale(0.95); /* Slightly shrink the button when clicked */
}
