
nav {
  background-color: var(--primary-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
}

.nav-quizapp-brand {
  color: var(--primary-text-color);
  font-family: 'Nunito', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  padding: 20px;
}


footer {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: 'Nunito', sans-serif;
  position: fixed;         /* Fix the footer at the bottom */
  bottom: 0;               /* Set it at the very bottom of the page */
  left: 0;                 /* Align to the left side */
  width: 100%;             /* Make the footer span the full width */
  padding: 0px;
  text-align: center;
  font-size: 15px;
}
