
.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;

}

.all-questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
}


.answer-options {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.answer-options input {
  margin-right: 20px;
}

#copy-quiz-url-btn {
  background-color: var(--tertiary-bg-color);
  margin-top: 30px;
}

#copy-quiz-url-btn:hover {
  background: #0056b3;
}


#copy-quiz-url-btn:active {
  transform: scale(0.95); /* Slightly shrink the button when clicked */
}

#submit-quiz-btn {
  margin-top: 50px;
}


#copy-quiz-url-btn,
#submit-quiz-btn {
  width: 20%;
}
